/build/
todo.md
wxReader.cfg
/.venv/
/extctrl/voice/.venv
/extctrl/voice/model
/extctrl/voice/.idea
/extctrl/eye_track/.venv
/extctrl/eye_track/model
/extctrl/eye_track/.idea
/.idea/
/__pycache__
*.pyc
/src/build/
.env
test.py
/src/pswd.txt
/analysis/
*.dll
src/result.json
*.pkl
build_ext2.bat
src/dev_tool_editor.py
docs/.vscode/settings.json
